.footer
  .top
    .logoFooter
    span.crediti Designed and developed by <br><br>
     a.credits(href="https://www.behance.net/danieleperta" target="_blank") Daniele Perta &nbsp;+  &nbsp;
     a.credits(href="http://www.andreaflemma.com" target="_blank") Andrea Flemma
  .bottom
    .loghi
      .logosingperta
      .logosingflemma
    span.desi © 2017 IISS Pacinotti Taranto. All rights reserved. Use of this site constitutes acceptance of our &nbsp;
      span(style="color: #7a7a7a; cursor: pointer;" onclick="location.href='http://www.pacinottitaranto.gov.it/index.php?option=com_content&amp;view=article&amp;id=58';") User Agreement&nbsp;
      | and &nbsp;
      span(style="color: #7a7a7a; cursor: pointer;" onclick="location.href='http://www.pacinottitaranto.gov.it/index.php?option=com_content&amp;view=article&amp;id=57';") Privacy Policy.
      |<br> The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with prior written permission of IISS Pacinotti Taranto. 
