doctype html
html(lang='it')
  head
    title APS LAB - HEALTNESS
    meta(charset='utf-8')
    link(rel='stylesheet', href='-css/style.css')
    link(rel='stylesheet', href='-css/stylePro.css')
    link(rel='stylesheet', href='-css/normalize.css')
    meta(name='dc.title', content=' APSLAB Pacinotti ')
    meta(http-equiv='content-language', content='it')
    meta(name='ROBOTS', content='NOODP')
    meta(name='description', content='Analisi, Progettazione e Sviluppo.\
    Il progetto, coordinato dal Prof. Giuseppe D’Amore, si propone di dar vita, insieme agli studenti, ad uno spazio dedicato alla creazione di nuovi progetti, che possano aiutare allo sviluppo di abilità e competenze. Questo porta ad una realtà, quella del mondo del lavoro, dove saper affrontare problematiche software e limitazioni hardware rappresenta una skill fondamentale. Sfruttando quanto appreso in laboratorio, i ragazzi possono creare progetti interessanti e a tratti innovativi, pur non tralasciando l’aspetto professionale nel affrontare le prassi relative alla documentazione, la compilazione e la risoluzione delle problematiche.')
    meta(name='keywords', content="aps lab, pacinotti, taranto, progetto, d'amore, alunni, scuola, informatica, applicazione, daniele perta, andrea flemma , perta, flemma, istituto")
    link(rel='icon', href='favicon.png')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='theme-color', content='#0F8B8D')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='-script/JQUERY.js')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,700,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Space+Mono', rel='stylesheet')
  body
    include sidebar
    include headerProject 
    include homeProject

  script(type="application/javascript", src="-script/JQUERY.js")
  script(type="application/javascript", src="-script/script-min.js")
  script(type="application/javascript", src="-script/back-min.js")
  script(type="application/javascript", src="-script/background-min.js") 
