
.bianco
  
.backImage(style="background-image: url(img-pro/healtness.jpg)")
  
.descProject
  .testi
    .buttone
    .titleproject HEALTNESS
    .subtitleproject Perta, Flemma, Grieco, Lucchese <br> Martorella, Matichecchia
    .textt Hltnss è un sistema software che consente di monitorare in maniera completa ed integrata dati sanitari.
      | Con monitoraggio di dati sanitari si intende la possibilità di collegare medici e pazienti in maniera virtuale, così da poter monitorare costantemente i dati inseriti dai pazienti.
      | Si potranno inoltre effettuare misurazioni cardiache tramite sensore cardiofrequenzimetro, attualmente disponibile solo su determinati dispositivi.
      | La misurazione tramite sensore avverrà attraverso l’utilizzo di un’applicazione dedicata.
      | L’applicazione, ed il sito web collegato per l’utilizzo da desktop, consentiranno inoltre l’inserimento manuale di altri dati riguardanti le condizioni fisiche e mediche (es. pressione giornaliera, livello di zuccheri).
      | Sarà quindi possibile collegare il proprio medico di famiglia all’account così da poter essere costantemente monitorati.
  include footer
