.projectCont
  .projects
    
    .progettoIns#healt
      .progetto
        .loader
      span(class="titolo") Healtness
      span(class="sottotitolo") Sistema Elettro Medicale
  
    .progettoIns#tgs       
      .progetto
        .loader
      span(class="titolo") The Geek Soul
      span(class="sottotitolo") Sistema <br> Informativo
          
    .progettoIns#sg
      .progetto
        .loader
      span(class="titolo") Sistema Gestione <br> Raccolta Rifiuti

          
    .progettoIns#gtt
      .progetto
        .loader
      span(class="titolo") GTT
      span(class="sottotitolo") Gestisci il tuo <br> torneo
    
    .progettoIns#sportbet       
      .progetto
        .loader
      span(class="titolo") SportBet
      span(class="sottotitolo") Scommesse <br> Online

    .progettoIns#evote
      .progetto
        .loader
      span(class="titolo") E-Vote
      span(class="sottotitolo") Votazioni <br> 2.0
      
    .progettoIns#idp    
      .progetto
        .loader
      span(class="titolo") IDP
      span(class="sottotitolo") Tempo e velocità <br> su pista
    
    .progettoIns#wardam        
      .progetto
        .loader
      span(class="titolo") WARDAM
      span(class="sottotitolo") Weather Arduino <br> Management
    
    .progettoIns#ecommerce
      .progetto
        .loader
      span(class="titolo") E-Commerce <br>
  
