.sidebarCont
  span(class="x") &#10005;
  
  .contTesto
    span(class="titoloSidebar") COS'E'
    span(class="desc") Analisi, Progettazione e Sviluppo.<br>Il progetto, coordinato dal Prof. Giuseppe D’Amore, si propone di dar vita, insieme agli studenti, ad uno spazio dedicato alla creazione di nuovi progetti, che possano aiutare allo sviluppo di abilità e competenze. Questo porta ad una realtà, quella del mondo del lavoro, dove saper affrontare problematiche software e limitazioni hardware rappresenta una skill fondamentale. Sfruttando quanto appreso in laboratorio, i ragazzi possono creare progetti interessanti e a tratti innovativi, pur non tralasciando l’aspetto professionale nel affrontare le prassi relative alla documentazione, la compilazione e la risoluzione delle problematiche.
